<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="${redis.ip}" p:port="${redis.port}" p:use-pool="true"/>

    <bean id="redisStringRedisSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="java.lang.String"/>
    </bean>

    <bean id="redisLongRedisSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="java.lang.Long"/>
    </bean>


    <bean id="levelCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.LevelCO"/>
    </bean>

    <bean id="captainCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CaptainCO"/>
    </bean>
    <bean id="captainTaskCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CaptainTaskCO"/>
    </bean>

    <bean id="TaskCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.TaskCO"/>
    </bean>

    <bean id="TaskGroupCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.TaskGroupCO"/>
    </bean>

    <bean id="JobDetailCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.JobDetailCO"/>
    </bean>

    <bean id="redisStringLevelCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="levelCOSerailizer">
    </bean>
    <bean id="redisStringCaptainCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="captainCOSerailizer">
    </bean>

    <bean id="redisStringTaskCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="TaskCOSerailizer">
    </bean>

    <bean id="redisStringTaskGroupCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="TaskGroupCOSerailizer">
    </bean>

    <bean id="redisStringConfigurationCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="redisStringRedisSerializer">
    </bean>

    <bean id="redisStringJobDetailCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="JobDetailCOSerailizer">
    </bean>

    <!-- dbqueuetemplate -->
    <bean id="dbTaskDetailSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.queue.DBTaskDetail"/>
    </bean>
    <bean id="dbTaskDetailTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="dbTaskDetailSerializer">
    </bean>

</beans>