<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="${redis.ip}" p:port="${redis.port}" p:use-pool="true"/>

    <bean id="redisStringRedisSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="java.lang.String"/>
    </bean>

    <bean id="redisLongRedisSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="java.lang.Long"/>
    </bean>
    <!-- db queue -->
    <bean id="dbTaskDetailSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.queue.DBTaskMessage"/>
    </bean>
    <bean id="dbTaskDetailTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="dbTaskDetailSerializer">
    </bean>

    <!-- captain card -->
    <bean id="captainCardCOSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CityCardCO"/>
    </bean>
    <bean id="captainCardCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="captainCardCOSerializer">
    </bean>
    <!-- -->

    <!-- package -->
    <bean id="storageCOSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.StorageCO"/>
    </bean>
    <bean id="storageCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="storageCOSerializer">
    </bean>
    <!-- -->

    <!-- troop -->
    <bean id="troopCOSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.TroopCO"/>
    </bean>
    <bean id="troopCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="troopCOSerializer">
    </bean>
    <!-- -->

    <!-- captainLevel -->
    <bean id="captainLevelSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CaptainLevelCO"/>
    </bean>
    <bean id="captainLevelTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="captainLevelSerializer">
    </bean>
    <!-- -->

    <!-- captainLevel -->
    <bean id="skillSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.SkillCO"/>
    </bean>
    <bean id="skillTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="skillSerializer"
          p:valueSerializer-ref="skillSerializer">
    </bean>
    <!-- -->

    <!-- captainLevel -->
    <bean id="captainTitleSerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CaptainTitleCO"/>
    </bean>
    <bean id="captainTitleTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="captainTitleSerializer">
    </bean>
    <!-- -->

    <!-- city -->

    <bean id="citySerializer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CityCO"/>
    </bean>

    <bean id="cityCacheTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="citySerializer">
    </bean>

    <!-- task -->
    <bean id="taskCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.TaskCO"/>
    </bean>
    <bean id="taskCacheTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="taskCOSerailizer">
    </bean>

    <!-- level -->
    <bean id="levelCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CityLevelCO"/>
    </bean>


    <bean id="redisStringLevelCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="levelCOSerailizer">
    </bean>

    <!-- taskgroup -->
    <bean id="redisStringTaskGroupCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="TaskGroupCOSerailizer">
    </bean>
    <bean id="TaskGroupCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.TaskGroupCO"/>
    </bean>

    <!-- card -->
    <bean id="cardCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.CardCO"/>
    </bean>

    <bean id="redisStringCardCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="cardCOSerailizer">
    </bean>

    <!-- drop group -->
    <bean id="dropGroupCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.DropGroupCO"/>
    </bean>
    <bean id="dropGroupTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="dropGroupCOSerailizer">
    </bean>

    <!-- bar -->
    <bean id="barCOSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.BarCO"/>
    </bean>
    <bean id="barTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="barCOSerailizer">
    </bean>

    <!-- units card -->
    <bean id="unitsCardSerailizer"
          class="com.h13.cardgame.cache.FastJsonRedisSerializer">
        <constructor-arg type="java.lang.Class" value="com.h13.cardgame.cache.co.UnitsCardCO"/>
    </bean>
    <bean id="unitsCardTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="unitsCardSerailizer">
    </bean>



    <!-- config -->
    <bean id="redisStringConfigurationCOTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="jedisConnectionFactory" p:keySerializer-ref="redisStringRedisSerializer"
          p:valueSerializer-ref="redisStringRedisSerializer">
    </bean>
</beans>